*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
header{
	background-color: #3F7AA2;
}
#principal{
	display: flex;
	align-items: flex-start;
	position: relative;
	top: 5.5em;
	left: 3em;
}
#principal img{
	width: 10%;
	margin-right: 2em;
	background-color: #BEC1CA;
}
#name{
	background-color: #BEDBEB;
	padding-left: 1em;
	padding-top: 1.5em;
	padding-bottom: 1em;
}
#name p{
	color: gray;
}
#data{
	background-color: #F8F8F8;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
#data p{
	color: gray;
}
#data a{
	text-decoration: none;
	color: gray;
}
section{
	margin-top: 8em;
}
section article{
	display: flex;
	border-top: 4px solid #F8F8F8;
	padding-right: 1em;
}
article .heading{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 30%;
}
.heading h2{
	color: #9ABFD1;
}
article .text{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 70%;
}
.text li span{
	padding: 0.25em;
}
.text .heading_text{
	display: flex;
	justify-content: space-between;
	font-size: 1.1em;
}
.text strong{
	font-size: 1.1em;
}
.text p{
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
.end{
	border-bottom: 4px solid #F8F8F8;
}
.text div{
	margin-bottom: 0.1em;
}
.text .skills{
	list-style: none;
}
.skills li{
	display: flex;
	justify-content: space-between;
}