*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}
main{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	height: 100%;
	display: grid;
	grid-gap: 0.5em;
	grid-template-columns: repeat(12,1fr);
	grid-template-areas:
		"h h h h h h h h h h h h "
		"a a s s s s s s s s s s "
		"a a s s s s s s s s s s ";
}
header{
	background-color: #3F7AA2;
	grid-area: h;
}
#principal{
	display: flex;
	align-items: flex-start;
	position: relative;
	top: 5.75em;
	left: 3em;
}
#principal img{
	width: 10%;
	margin-right: 2em;
	background-color: #BEC1CA;
}
#name{
	background-color: #BEDBEB;
	padding-left: 1em;
	padding-top: 1.5em;
	padding-bottom: 1em;
	padding-right: 40em;
}
#name p{
	color: gray;
}
#data{
	background-color: #F8F8F8;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
#data p{
	color: gray;
}
#data a{
	text-decoration: none;
	color: gray;
}
section{
	margin-top: 8em;
	grid-area: s;
}
section article{
	display: flex;
	border-top: 4px solid #F8F8F8;
	padding-right: 1em;
}
article .heading{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	width: 30%;
}
h2{
	color: #9ABFD1;
}
article .text{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-left: 4em;
	width: 60%;
}
.text li span{
	padding: 0.25em;
}
.text .heading_text{
	display: flex;
	justify-content: space-between;
	font-size: 1.1em;
}
.text strong{
	font-size: 1.1em;
}
.text p{
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
.end{
	border-bottom: 4px solid #F8F8F8;
}
.text div{
	margin-bottom: 0.1em;
}
.text .skills{
	list-style: none;
}
.skills li{
	display: flex;
	justify-content: space-between;
}
progress{
	-webkit-appearance: none;
	-moz-appearance: none;
}
progress::-webkit-progress-bar{
	background-color: #BEDBEB;
	border-radius: 0.5em;
}
progress::-webkit-progress-value{
	background-color: #3F7AA2;
	border-radius: 0.5em;
}
progress::-moz-progress-bar{
	background-color: #3F7AA2;
	border-radius: 0.5em;
}
.moz_bar{
	background-color: #BEDBEB;
	border-radius: 0.5em;
}
aside{
	margin-top: 8em;
	padding: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3F7AA2;
	grid-area: a;
}
aside nav{
	background-color: #BEDBEB;
	text-align: center;
}
aside ul{
	list-style: none;
}
aside li{
	border: 1px solid gray;
}
aside li a{
	text-decoration: none;
	color: gray;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	display: block;
}
.aside-form{
	display: flex;
	text-align: center;
}
.one-element{
	display: flex;
	justify-content: center;
	align-items: center;
}
.one-element li{
	background-color: #BEDBEB;
	list-style: none;
	text-align: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.heading-form{
	margin-bottom: 0.5em;
}
form{
	padding: 2em;
	border-top: 4px solid #F8F8F8;
	border-bottom: 4px solid #F8F8F8;
}
form p{
	padding: 0.25em;
}
form div{
	padding: 0.25em;
}
form input[type='text'],input[type='tel'],input[type='email'],input[type='checkbox']{
	margin-left: 3em;
	border-radius: 0.5em;
	background-color: #F8F8F8;
}
form .sex{
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.sex input[type='radio']{
	margin-right: 1em;
}
.message textarea{
	border-radius: 0.5em;
}
.opinion select{
	margin-left: 3em;
	border-radius: 0.5em;
	padding: 0.15em;
	background-color: #F8F8F8;
}
.buttons input{
	padding: 0.5em;
	border-radius: 0.5em;
}
.buttons input[type='submit']{
	margin-right: 1em;
}
