*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}
main{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}
header{
	background-color: #3F7AA2;
}
#principal{
	display: flex;
	align-items: flex-start;
	position: relative;
	top: 5.75em;
	left: 3em;
}
#principal img{
	width: 10%;
	margin-right: 2em;
	background-color: #BEC1CA;
}
#name{
	background-color: #BEDBEB;
	padding-left: 1em;
	padding-top: 1.5em;
	padding-bottom: 1em;
	padding-right: 40em;
}
#name p{
	color: gray;
}
#data{
	background-color: #F8F8F8;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
#data p{
	color: gray;
}
#data a{
	text-decoration: none;
	color: gray;
}
section{
	margin-top: 8em;
}
section article{
	display: flex;
	border-top: 4px solid #F8F8F8;
	padding-right: 1em;
}
article .heading{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 30%;
}
h2{
	color: #9ABFD1;
}
article .text{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 70%;
}
.text li span{
	padding: 0.25em;
}
.text .heading_text{
	display: flex;
	justify-content: space-between;
	font-size: 1.1em;
}
.text strong{
	font-size: 1.1em;
}
.text p{
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
.end{
	border-bottom: 4px solid #F8F8F8;
}
.text div{
	margin-bottom: 0.1em;
}
.text .skills{
	list-style: none;
}
.skills li{
	display: flex;
	justify-content: space-between;
}
progress{
	-webkit-appearance: none;
	-moz-appearance: none;
}
progress::-webkit-progress-bar{
	background-color: #BEDBEB;
	border-radius: 0.5em;
}
progress::-webkit-progress-value{
	background-color: #3F7AA2;
	border-radius: 0.5em;
}
progress::-moz-progress-bar{
	background-color: #3F7AA2;
	border-radius: 0.5em;
}
.moz_bar{
	background-color: #BEDBEB;
	border-radius: 0.5em;
}
footer{
	background-color: #3F7AA2;
	margin-top: 1em;
	padding: 1.5em;
	text-align: right;
}
.button{
	text-decoration: none;
	color: black;
	background-color: #BEDBEB;
	padding: 0.5em;
	border-radius: 0.5em;
}
.menu{
	position: fixed;
	top: 20px;
	left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 50px;
	height: 50px;
	background-color: #BEDBEB;
	border-radius: 50%;
	transition: transform 250ms ease;
	cursor: pointer;
	z-index: 2;
}
#menu{
	display: none;
}
#menu:checked ~ .menu{
	background-color: transparent;
}
#menu:checked ~ .dropdown-menu{
	left: 0px;
	transition: left 500ms ease;
	background-color: rgba(190, 219, 235,0.5);
}
#menu:checked ~ .menu{
	background-color: white;
}
.dropdown-menu{
	position: fixed;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100vh;
	margin: 0;
	padding: 0;
	transition: left 500ms ease;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dropdown-menu ul{
	position: relative;
	list-style-type: none;
	margin: 100px 0;
	padding: 0;
}
.dropdown-menu li{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.dropdown-menu a{
	text-decoration: none;
	color: gray;
	font-size: 1.25em;
}
.heading-form{
	margin-bottom: 0.5em;
}
form{
	padding: 2em;
	border-top: 4px solid #F8F8F8;
	border-bottom: 4px solid #F8F8F8;
}
form p{
	padding: 0.25em;
}
form div{
	padding: 0.25em;
}
form input[type='text'],input[type='tel'],input[type='email'],input[type='checkbox']{
	margin-left: 3em;
	border-radius: 0.5em;
	background-color: #F8F8F8;
}
form .sex{
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.sex input[type='radio']{
	margin-right: 1em;
}
.message textarea{
	border-radius: 0.5em;
}
.opinion select{
	margin-left: 3em;
	border-radius: 0.5em;
	padding: 0.15em;
	background-color: #F8F8F8;
}
.buttons input{
	padding: 0.5em;
	border-radius: 0.5em;
}
.buttons input[type='submit']{
	margin-right: 1em;
}
.menu-home{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5em;
}
